* {
    margin: 0;
    padding: 0;
}
/*NavBar*/
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.anchor {
    text-decoration: none;
    color: black;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.list {
    margin: 0;
    list-style: none;
    padding: 10px;
}
.logo-img {
    padding-top: 30px;
    padding-right: 34px;
    width: 100px;
}
/*Sliders*/
#main-banner {
    width: 100%;

    overflow: hidden;
}
#main-banner img {
    width: 100%;
}
#slider {
    overflow: hidden;
}
#slides {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 10s slidy infinite;
}
#slides img {
    width: 20%;
    height: 30%;
    float: left;
}
.heading {
    padding-left: 20px;
    font-weight: 500;
    font-size: 24px;
    font-family: Roboto,sans-serif;

}
.secondary {
    font-weight: 400;
    font-size: 16px;
    color: #465166;
    font-size: larger;
    font-family: Roboto,sans-serif;
}
.img1 {
    padding-left: 60px; 
}
.img2 {
    padding-left: 34px;
}
.main {
    display: flex;
}
.heading1 {
    padding-left: 20px;
    font-weight: bold;
    font-size: 34px;
    font-family: Roboto,sans-serif;
}
.first {
    padding: 10px;
    width: 350px;
}
.name {
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif
}

  /* Animation */
  @keyframes slidy  { 0% { left: 0%; } 28% { left: 0%; } 33% { left: -100%; } 61% { left: -100%; } 66% { left: -200%; } 94% { left: -200%; } 100% { left: 0%; } }